{{#if this.shouldShow}}
<div class="dg-donate-bar-wrapper" style="margin-bottom: 20px;">
    <form class="dg-premium-donate-bar" action="https://yoomoney.ru/quickpay/confirm.xml" method="POST" target="_blank">
        <input type="hidden" name="receiver" value="4100115131228491">
        <input type="hidden" name="quickpay-form" value="shop">
        <input type="hidden" name="targets" value="Support the Community">
        <input type="hidden" name="paymentType" value="AC">

        <div class="dg-sum-wrapper">
            <span class="dg-sum-prefix">₽</span>
            {{input type="number" class="dg-sum-input" value="100" min="10" placeholder="100" name="sum"
            id="dg-sum-input"}}
        </div>

        <div class="dg-header">
            <div class="dg-title">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.09C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.04L12 21.35Z"
                        fill="url(#dg-grad)" />
                    <defs>
                        <linearGradient id="dg-grad" x1="2" y1="3" x2="22" y2="21.35" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#6366f1" />
                            <stop offset="1" stop-color="#a855f7" />
                        </linearGradient>
                    </defs>
                </svg>
                Community Support
            </div>
            <div class="dg-goal-text">
                Target: <span class="dg-goal-amount">{{format-currency this.goal}}</span>
            </div>
        </div>

        <div class="dg-progress-container">
            <div class="dg-progress-fill" style="width: {{this.percent}}%;">
                <span class="dg-progress-percent">{{this.percent}}%</span>
            </div>
        </div>

        <div class="dg-footer">
            <div class="dg-raised-container">
                <span class="dg-raised-label">Raised so far</span>
                <span class="dg-raised-amount">{{format-currency this.current}}</span>
            </div>
            <button type="submit" class="dg-cta-button" style="cursor: pointer; border: none; font-family: inherit;">
                Support Now
            </button>
        </div>
    </form>
</div>
{{/if}}